In [1]:
import pandas as pd
import json

In [2]:
with open('indeed_db_v4.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

In [3]:
# Utiliser json_normalize pour créer un DataFrame en formatant le fichier
df = pd.json_normalize(data)

In [4]:
# Appliquez la fonction à chaque élément de chaque colonne
df = df.apply(lambda x: x.map(lambda y: ','.join(map(str, y)) if isinstance(y, list) else y))

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19657 entries, 0 to 19656
Data columns (total 29 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   job_title                        19570 non-null  object
 1   company                          19570 non-null  object
 2   job_location                     19311 non-null  object
 3   zip_code                         7613 non-null   object
 4   salary                           4446 non-null   object
 5   contract_type                    13699 non-null  object
 6   remote                           3775 non-null   object
 7   raw_description                  19570 non-null  object
 8   Langages de Programmation        9115 non-null   object
 9   Bases de Données                 2743 non-null   object
 10  Analyse de Données               1196 non-null   object
 11  Big Data                         2465 non-null   object
 12  Machine Learning et Data Mining  924 non-null    object
 13  Visualisation de Données         2732 non-null   object
 14  Statistiques                     52 non-null     object
 15  Cloud Computing                  6482 non-null   object
 16  Outils de Développement          10073 non-null  object
 17  Systèmes d'Exploitation          1975 non-null   object
 18  Big Data et Processing           333 non-null    object
 19  Automatisation et Orchestration  4804 non-null   object
 20  Infrastructure as Code (IaC)     1558 non-null   object
 21  Sécurité et Réseau               470 non-null    object
 22  Virtualisation                   398 non-null    object
 23  Containers                       3150 non-null   object
 24  Outils de Collaboration          3588 non-null   object
 25  Compétences                      12831 non-null  object
 26  company_size                     2071 non-null   object
 27  company_turnover                 1472 non-null   object
 28  company_industry                 2869 non-null   object
dtypes: object(29)
memory usage: 4.3+ MB

In [6]:
df_no_duplicates = df[~df.duplicated()]

In [7]:
df_no_duplicates.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11910 entries, 0 to 19633
Data columns (total 29 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   job_title                        11909 non-null  object
 1   company                          11909 non-null  object
 2   job_location                     11747 non-null  object
 3   zip_code                         4524 non-null   object
 4   salary                           2792 non-null   object
 5   contract_type                    8470 non-null   object
 6   remote                           2223 non-null   object
 7   raw_description                  11909 non-null  object
 8   Langages de Programmation        5017 non-null   object
 9   Bases de Données                 1408 non-null   object
 10  Analyse de Données               643 non-null    object
 11  Big Data                         1108 non-null   object
 12  Machine Learning et Data Mining  508 non-null    object
 13  Visualisation de Données         1398 non-null   object
 14  Statistiques                     16 non-null     object
 15  Cloud Computing                  3319 non-null   object
 16  Outils de Développement          5835 non-null   object
 17  Systèmes d'Exploitation          1188 non-null   object
 18  Big Data et Processing           144 non-null    object
 19  Automatisation et Orchestration  2779 non-null   object
 20  Infrastructure as Code (IaC)     818 non-null    object
 21  Sécurité et Réseau               291 non-null    object
 22  Virtualisation                   261 non-null    object
 23  Containers                       1672 non-null   object
 24  Outils de Collaboration          2031 non-null   object
 25  Compétences                      6986 non-null   object
 26  company_size                     1750 non-null   object
 27  company_turnover                 1225 non-null   object
 28  company_industry                 2405 non-null   object
dtypes: object(29)
memory usage: 2.7+ MB

In [8]:
df_no_duplicates.to_json('indeed_final_db_bronze_v4.json', orient='records', lines=True)

In [11]:
df

,job_title,company,job_location,zip_code,salary,contract_type,remote,raw_description,Langages de Programmation,Bases de Données,...,Automatisation et Orchestration,Infrastructure as Code (IaC),Sécurité et Réseau,Virtualisation,Containers,Outils de Collaboration,Compétences,company_size,company_turnover,company_industry
0,Data Engineer MLOps,Blue-Consulting,Paris,None,None,None,None,"Au sein des équipes data de notre client, vous...","Python,Scala",BigQuery,...,"Ansible,Kubernetes,Airflow",Terraform,None,None,"Docker,Kubernetes",None,"ML,Machine Learning,Cloud",None,None,Management et conseil aux entreprises
1,Data Engineer (F/H),AFD.TECH,Paris,None,None,None,None,Nous vous proposons un poste de Data Engineer ...,None,None,...,None,None,None,None,None,None,Cloud,None,None,Télécommunications
2,Data Engineer - H/F,Yotta,Paris,None,None,None,None,Azure-cloud-services / Git / Microsoft-azure /...,Python,None,...,None,None,None,None,None,None,"Big Data,Cloud",None,None,None
3,Data Engineer,FC Consulting,Nanterre,92000,None,None,None,Mission d?assistance technique afin de fournir...,Python,None,...,Ansible,None,None,None,None,None,None,None,None,None
4,Data Engineer F/H,Oney,Croix,None,None,None,None,Qui sommes-nous ?\n\nOney est une banque diffé...,Python,Snowflake,...,None,None,None,None,None,None,"Big Data,Cloud",51 à 200,None,Finance
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19652,QA Engineer H/F,Jcdecaux,Neuilly-sur-Seine,92200,None,None,None,Mission\n\nLe profil sera rattaché à la Direct...,Java,"MySQL,PostgreSQL",...,None,None,None,None,None,JIRA,"ML,Cloud",None,None,None
19653,Global infrastructure Security Engineer H/F,Imerys,Paris,75015,None,None,None,The Company\n\nThe world’s leading supplier of...,None,None,...,None,None,Firewall,None,None,Teams,Cloud,None,None,None
19654,Data Analyst,Pernod Ricard,Paris,75380,None,None,None,Context around the position:\nPernod-Ricard is...,Python,Snowflake,...,None,None,None,None,None,"JIRA,Confluence,Teams","Machine Learning,Cloud",None,None,None
19655,EMEA Start up Venture Capital,Oracle,Colombes,92715,None,None,None,You and Oracle\n\nOracle Corporation is at one...,None,None,...,None,None,None,None,None,Teams,"ML,Machine Learning,Cloud",None,None,None
19656,Designated CSE (Customer Solution Engineer) - ...,Scality,Rennes,None,None,None,None,"You are technical and customer focused, you se...","Python,Scala",None,...,"Ansible,Kubernetes",None,None,None,"Docker,Kubernetes","JIRA,Confluence,Teams",Cloud,None,None,None